* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: #333;
  color: hsl(200, 74%, 79%);
}

#root {
  height: 35em;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(75, 22, 221, 0.137);
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.btn {
  cursor: pointer;
  outline: none;
  padding: 0.25em 0.5em;
}

.btn.btn-dandger {
  background: hsl(0, 100%, 40%, 0.1);
}

.btn.btn-dandger:hover,
.btn.btn-dandger:focus-visible {
  background: hsla(0, 6%, 85%, 0.2);
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

.list :has(input:checked) label {
  color: hsl(200, 20%, 40%);
}

#input-label {
  position: relative;
  top: -0.76em;
  left: 11.85em;
  font-size: 1.7em;
}

.input {
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(188, 188, 224);
  color: #0c0a20;
  position: relative;
  top: 1.1em;
  left: 6.2em;
  width: 21em;
  height: 3em;
  border-radius: 0.5em;
  border: transparent;
}

#btn-add {
  width: 21em;
  position: relative;
  top: 4.5em;
  right: 15em;
}

.todo-list {
  margin-top: 10em;
}

.lists li {
  list-style: none;
  position: relative;
  top: 1.2em;
  right: 2em;
}

.lists li label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.lists .btn {
  position: relative;
  top: -0.15em;
  left: 2em;
  height: 2em;
  width: 6em;
  background-color: transparent;
  border: none;
  color: red;
}

.lists .checked {
  width: 2.5em;
  height: 1.5em;
  position: relative;
  top: -0.21em;
  right: 0.9em;
}
